sudo: required
dist: trusty

git:
  depth: false

services:
  - docker

env:
  global: 
    - GO111MODULE=on


script:
- if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then make docs; fi

before_deploy:
      sudo -E apt-get -yq update;
      sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes  install docker-ce;
      docker version; 
      curl -sfL https://raw.githubusercontent.com/containous/structor/master/godownloader.sh | bash -s -- -b "${GOPATH}/bin" v1.7.0;
      structor -o containous -r traefik  --dockerfile-url="https://raw.githubusercontent.com/multi-repo-docs-versioning/root/master/docs/docs.Dockerfile" --menu.js-url="https://raw.githubusercontent.com/containous/structor/master/traefik-menu.js.gotmpl" --rqts-url="https://raw.githubusercontent.com/containous/structor/master/requirements-override.txt" --force-edit-url --exp-branch=master --debug;

deploy:
  - provider: pages
    edge: false
    github_token: ${GH_TOKEN}
    local_dir: site/*
    skip_cleanup: true
    on:
      repo: multi-repo-docs-versioning/root
      all_branches: true
